snippet if
if ${1:a}:
	${2:pass}
endsnippet

snippet ifelif
if ${1:a}:
	${2:pass}
elif ${3:b}:
	${4:pass}
else:
	${5:pass}
endsnippet

snippet for
for ${1:i} in ${2:iter}:
	${3:pass}
endsnippet

snippet while
while ${1:a}:
	${2:pass}
endsnippet

snippet def
def ${1:fun}(${2:args}):
	${3:pass}
endsnippet

snippet main
def main():
	${1:pass}${0}
endsnippet

snippet ifmain
if __name__ == "__main__":
	${0:main()}
endsnippet
